* {
  zoom: 1;
}

.header-bottom {
  .book-now, .contact-us {
    margin: 15px;
  }
}

.hype li:first-child > .img-wrapper {
  background-image: url("../images/hype-bike.png");
  background-position: 60% 50%;
}

.hype li:first-child + li > .img-wrapper {
  background-image: url("../images/hype-box.png");
}

.hype li:first-child + li + li > .img-wrapper {
  background-image: url("../images/hype-car.png");
}

#mapContact, #mapNetwork, .launching:before {
  display: none !important;
}

.target-industries li:first-child > .img-wrapper {
  background-image: url("../images/retail.png");
}

.target-industries li:first-child + li > .img-wrapper {
  background-image: url("../images/food-chains.png");
}

.target-industries li:first-child + li + li > .img-wrapper {
  background-image: url("../images/ecommerce.png");
}

.map-network {
  height: auto;
  background-image: url(../images/map-network.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid transparent;

  .container {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000,endColorstr=#55000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000); /* IE6 & 7 */
    position: static;
    margin: 20px auto;
    text-align: center;
    padding: 25px 0 45px;
    max-width: 800px;
  }
}

#contact-us {
  .left-fields {
    padding-right: 15px;
  }
  .right-fields {
    padding-left: 15px;
  }
}

.map-ie {
  background-image: url(../images/map-contact.jpg);
  height: 440px;
  margin-top: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 440px;
  display: block;
}

.footer {
  .reach {
    width: 50%;
  }

  .social {
    padding-top: 60px;
  }
}
